{% extends 'admin/base.html' %} {% block head %} {% endblock %} {% block body %}
<main class="container">
  <div class="card-panel">
    <h3>User Management</h3>
    <hr />
    <div class="row">
      <div class="col l3 m6 s12">
        <div class="card-panel hoverable blue lighten-1">
          <span class="center-align">
            <h5>Enrolled Users</h5>
            <span class="center-block" style="font-size: 4rem">{{
              users_count
            }}</span>
          </span>
        </div>
      </div>
      <div class="col l3 m6 s12">
        <a style="text-decoration: none; color: inherit" href="/admin/add-user">
          <div class="card-panel hoverable green lighten-1">
            <span class="center-align">
              <h5>Add User</h5>
              <i class="material-icons large center-block">add</i>
            </span>
          </div>
        </a>
      </div>
      <div class="col l3 m6 s12">
        <a style="text-decoration: none; color: inherit" href="/admin/edit-user">
          <div class="card-panel hoverable orange lighten-1">
            <span class="center-align">
              <h5>Edit User</h5>
              <i class="material-icons large center-block">create</i>
            </span>
          </div>
        </a>
      </div>
      <div class="col l3 m6 s12">
        <a style="text-decoration: none; color: inherit" href="/admin/delete-user">
          <div class="card-panel hoverable red lighten-1">
            <span class="center-align">
              <h5>Delete User</h5>
              <i class="material-icons large center-block">delete_forever</i>
            </span>
          </div>
        </a>
      </div>
    </div>
  </div>
</main>
{% endblock %}
