{% extends 'home/base.html' %} {% block head %}{% endblock %} {% block body %}
<main>
    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="/static/images/hero.png"></div>
    
        <div class="container white-text center-align">
        <h1>Welcome to FaceAcces</h1>
        </div>
    </div>
    
    <div class="container grey-text text-darken-4">
        <br><br><br>
        <section id="about" class="center-align">
            <h1>About</h1>
            <br>
            <p>FaceAcces is a Deep Neural Network (DNN) based one to many face identificatation and access management suite.
            It is based upon Google's FaceNet Deep Convolutional Neural Network (DCNN) which has a a record accuracy of
            above 95%.
            </p>
        </section>
        <br><br><br><br><br>
    </div>
    
    <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="/static/images/antihero.png"></div>
    
        <section id="features" class="container white-text center-align">
            <h2>Features</h2>
            <br>
            <div class="row">
                <div class="col l3 m6 s12">
                <div class="card-panel hoverable grey-text text-darken-4">
                    <span class="center-align">
                    <h5>Fast</h5>
                    <i class="material-icons large center-block">flash_on</i>
                    </span>
                </div>
                </div>
    
                <div class="col l3 m6 s12">
                <div class="card-panel hoverable grey-text text-darken-4">
                    <span class="center-align">
                    <h5>Accurate</h5>
                    <i class="material-icons large center-block">my_location</i>
                    </span>
                </div>
                </div>
    
                <div class="col l3 m6 s12">
                <div class="card-panel hoverable grey-text text-darken-4">
                    <span class="center-align">
                    <h5>Simple</h5>
                    <i class="material-icons large center-block">all_inclusive</i>
                    </span>
                </div>
                </div>
    
                <div class="col l3 m6 s12">
                <div class="card-panel hoverable grey-text text-darken-4">
                    <span class="center-align">
                    <h5>Scalable</h5>
                    <i class="material-icons large center-block">layers</i>
                    </span>
                </div>
                </div>
            </div>
        </section>
    </div>
    </main>      
{% endblock %}